.containerInput {
  width: 100%;
  position: relative;
  margin-top: 0.4em;
}
.inputText {
  width: 100%;
  height: 100%;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  padding-right: 40px;
  border: 1px solid #e8edf2;
  border-radius: 8px;
}
.inputText::placeholder {
  color: #c6cbd9;
  font-size: 14px;
  font-weight: 500;
}
.icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.errorContainer{
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: -85%;
  left: 0;
  background-color: #E23738;
  border-radius: 0 0 8px 8px;
  color: #fff;
  font-size: auto;
  font-weight: 500;
  padding: 15px;
  z-index: 1;
  gap: .5em;
}
.errorContainer.active{
  display: flex;
}
@media (max-width: 320px){
  .errorContainer{
    font-size: 12px;
  }
}